.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth; //makes transitions to other parts of the page smooth
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{ //for other browsers
            display: none;
        }

        > *{        /*for each section is what the > means */
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start; /*when scrolling, snaps the bar to top of section*/
        }
    }
}